<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>VBH</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2135119280082147</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.63667254394-pa9jspkf6tq037k8velf1nibobnj5mcd</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.63667254394-pa9jspkf6tq037k8velf1nibobnj5mcd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.vat.jsmile.vbh</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.vat.jsmile.vbh</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>FacebookAppID</key>
	<string>2135119280082147</string>
	<key>FacebookDisplayName</key>
	<string>Bao Hanh Dien Tu</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Access to Apple Music for future features</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Access to Bluetooth for the futher features</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Access to Calender for the futher features</string>
	<key>NSCameraUsageDescription</key>
	<string>Chúng tôi muốn truy cập Camera của bạn để quét mã vạch</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Access to Location for the futher features</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Access to Microphone for the futher features</string>
	<key>NSMotionUsageDescription</key>
	<string>Access to Motion for future features</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Chúng tôi muốn truy cập ảnh của bạn để giúp bạn thay đổi avatar</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Chúng tôi muốn truy cập ảnh của bạn để giúp bạn thay đổi avatar</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Access to Speech Recognition for future features</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Feather.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
